header {
  height: 10vh;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: #fff;
  background: #0c5460;
  text-transform: uppercase;
  display: flex;

  h1{
    margin: auto;
  }
}

.wrapper {
  height: 90vh;

  > div {
    overflow: auto;

    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #777;
      
    }
  }

  .users {
    min-width: 350px;
    border-right: 1px solid #ddd;
  }

  .posts {
    flex: auto;
    padding: 10px 15px;
  }

  @media all and (max-width: 700px) {
    flex-wrap: wrap;

    .users{
      width: 100%;
    }
  }
}
