h1 {
  height: 10vh;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #DDD;
  padding-top: 15px;
  color: #fff;
  background: #03A9F4;
  text-transform: uppercase;
}

.wrapper {
  height: 90vh;

  >div {
    overflow: auto;
  }

  .users {
    width: 25%;
    border-right: 1px solid #DDD;
    padding: 10px 15px;
  }

  .posts {
    width: 75%;
    padding: 10px 15px;
  }
}
