h1{
  height: 10vh;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #DDD;
  padding-top: 15px;
}
.wrapper{
  height: 90vh;
  > div{
    overflow: auto;
  }
  .users{
    width: 25%;
    border-right: 1px solid #DDD;
  }
  .posts{
    width: 75%;
  }
}
