.wrapper {
  color: #000;
  background: #cccccc;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 1px #777;
  border: 1px solid #adacac;
  cursor: pointer;

  .name {
    font-size: 1.2rem;
  }

  .info {
    font-size: 0.8rem;
  }
}

a {
  color: #fff;
}
